<form action='/add-appointment' method='POST'>

  <label for=''>Name</label>
  <input type='text' name='fName'>

  <label for=''>Last name</label>
  <input type='text' name='lName'>

  <label for=''>Tags</label>
  <input type='text' name='tags[]'>

  <label for=''>Email</label>
  <input type='text' name='email'>

  <label for=''>Is urgent</label>
  <input type=checkbox  name=isUrgent>

  <input type="radio" id="waiting" name="status" value="waiting">
  <label for="male">Waiting</label><br>
  <input type="radio" id="attending" name="attending" value="attending">
  <label for="female">Attending</label><br>
  <input type="radio" id="attended" name="attended" value="attended">
  <label for="Attended">Other</label>



  <button type='submit'>Submit</button>
</form>

