<form action='/endPointName' method='GET'>

  <label for=''>Email</label>
  <input type='text' name='Email'>

  <label for=''>Password</label>
  <input type='text' name='Password'>

  <button type='submit'>Submit</button>
</form>