<form action='/add-appointment' method='POST'>

    <label for=''>Name</label>
    <input type='text' name='fName'>
    <br>

    <label for=''>Last name</label>
    <input type='text' name='lName'>
    <br>
    <label for=''>Email</label>
    <input type='text' name='email'>
    <br>

    <label for="">Tags</label>
    <input type="text" name="tags" id="tags-input" />

    <!-- THis is hidden input used to send string of tags to server -->
    <input type="text" id="tags-list" name="tagsList" style="display: none" />
    <ul id="tags"></ul>

    <br>
    <label for=''>Is urgent</label>
    <input type=checkbox name=isUrgent value='true'>
    <br>
    <input type="radio" id="waiting" name="status" value="waiting">
    <label for="waiting">Waiting</label><br>

    <input type="radio" id="attending" name="status" value="attending">
    <label for="attending">Attending</label><br>

    <input type="radio" id="attended" name="status" value="attended">
    <label for="attended">Other</label>
    <br>


    <button type='submit' id='noenter'>Add Appointment</button>
</form>

<br>
<br>

{{!-- Error message display --}}
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}

<script src="src/appointment.js"></script>


