<!DOCTYPE html>
<html>

<head>
  <title>QHOPS</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <div>
      <a href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Q_magazine_logo.svg/1200px-Q_magazine_logo.svg.png" class='logo' alt="logo"></a>
    </div>
    <div>
      <a href="/auth/login">
    <button>login</button>
</a>

<a href="/auth/signup">
    <button>signup</button>
</a>

<a href="/auth/logout">
    <button>logout</button>
</a>
    </div>
  </nav>
  <h1>hola</h1>
  {{{body}}}
</body>

</html>