<br>
<h2>JUST CALLED IN (TOP 5 - In Progress List)</h2>
<table>
    <thead>

        <tr>
            <th>code</th>
        </tr>
    </thead>
    {{#each queue}}
    {{#each inProgress}}


    <tr>
        <td>{{this.code}}</td>
    </tr>
    {{/each}}
    {{/each}}

    <br>


</table>
<br>
<h1>PUBLIC QUEUE</h1>
<br>
<h2>Waiting List</h2>
<br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">email</th>
                <th scope="col">tags</th>
                <th scope="col"></th>
            </tr>
        </thead>
    {{#each queue}}
    {{#each appointments}}


    <tr>
        <td>{{this.code}}</td>
    </tr>
    {{/each}}
    {{/each}}

</table>

<br>


