<h1 class="container text-center my-3">PUBLIC QUEUE</h1>
<h1 class="container text-center my-3">{{today}}</h1>

<h1 class="row my-3 justify-content-center">Average Waiting Time: {{queue.0.avgTime}} minutes</h1>

<div class="container dashboard-table table-responsive">
    <caption>Just called in</caption>
    <table class="table table-hover my-4">
        <thead>
            <tr>
                <th class="text-center bg-light" scope="col">code</th>
            </tr>
        </thead>
        <tbody>
            {{#each queue}}
            {{#each inProgress}}
            <tr>
                <td class="text-center">{{this.code}}</td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>

    <caption>Waiting List</caption>
    <table class="table table-hover my-4">

        <thead>
            <tr>
                <th class="text-center bg-light" scope="col">Code</th>
            </tr>
        </thead>
        <tbody>
            {{#each queue}}
            {{#each appointments}}
            <tr>
                <td class="text-center">{{this.code}}</td>
            </tr>
            {{/each}}
            {{/each}}
        </tbody>
    </table>
</div>