html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
}

.first_screen {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  width: 50%;
  animation-name: animatedLogo;
  animation-duration: 4s;
}

@keyframes animatedLogo {
  0% {
    opacity: 0%;
    width: 40%;
  }
  100% {
    opacity: 100%;
    width: 50%;
  }
}

.prevent-overflow {
  overflow: hidden;
}

.container-fluid {
  background: transparent;
  font-size: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Raleway", sans-serif;
}


.container-fluid-logo {
  background: transparent;
  font-size: 90%;
  display: flex;
  flex-direction: row;

  font-family: "Raleway", sans-serif;
}

.navbar-button {
  font-size: 90%;
  padding: 0%;
  background-color: transparent;
  border: transparent;
  font-family: "Raleway", sans-serif;
}

.form {
  width: 100%;
  height: 70%;
  
  margin-bottom: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

.form-signup {
  width: 100%;
  height: 43%;
 
  margin-bottom: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

.form-title {

  font-size: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}

.formbox {
 
}

.form-login {
  width: 100%;
  height: 60%;
 
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

input[type="text"] {
  border: none;
  border-bottom: 0.5px solid black;
}

.button {
  height: 20%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

.signup-button {
  font-size: 90%;
  background-color: transparent;
  border: transparent;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

.black-button {
  height: 50px;
  color: white;
  background-color: transparent;
  border: transparent;
}

.login-submit-button {
  margin-left: 7%;
  margin-top: 5%;
  font-size: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: center;
}

.form-appointment {
  width: 100%;
  height: 60%;
  
  margin-bottom: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

.formbox-appointment {
  margin-left: 5%;
  margin-right: 4%;
  margin-bottom: 7%;
}

.formbox-appointment-radio {
  margin-left: 5%;
  margin-right: 4%;
  margin-bottom: 3%;
}

.button-add-appointment {
  width: 18%;
  height: 6%;
  color: white;
  background-color: black;
  margin-top: 10%;
  margin-left: 0%;
  margin-right: 50%;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

.button-add-appointment-form {
  width: 75%;
  height: 18%;
  color: white;
  background-color: black;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
}

.dashboard-table {
  font-family: "Raleway", sans-serif;
 
  font-size: 70%;
  height: 70%;
}
.dashboard-title {
  border-bottom: 0.5px solid black;
  
}

table {
  width: 100%;
}

th {
  height: 30%;
  text-align: left;
  vertical-align: bottom;
}

.dashboard-buttons {
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.btn {
  font-size: 70%;
  padding: 0%;
}

.logo {
  width: 90px;
}
