<h1>QHOPS</h1>
<p>Welcome to LOGIN PAGE</p>

<form action='/auth/login' method='POST'>

    <label for=''>Email</label>
    <input type='text' name='Email'>

    <label for=''>Password</label>
    <input type='text' name='Password'>

    <button type='submit'>Submit</button>
</form>

{{!-- Error message display --}}
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}