<h1>QHOPS</h1>
<p>Welcome to signup PAGE</p>

<form action='/auth/signup' method='POST'>

    <label for=''>Email</label>
    <input type='text' name='email'>

    <label for=''>Password</label>
    <input type='text' name='password'>

    <button type='submit'>Submit</button>
</form>

{{!-- Error message display --}}
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}