<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

    <title>QHOPS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container my-5">
        <div class="column">
            <div class="col">
                <div class="form-signup">
                    <form action='/auth/signup' method='POST'>
                        <div class="form-title my-5">
                            <h3>Signup</h3>
                        </div>
                        <div class="formbox my-5">
                            <label for=''>Email</label>
                            <input type='text' name='email'>
                        </div>
                        <div class="formbox my-5">
                            <label for=''>Password</label>
                            <input type='text' name='password'>
                        </div>
                        <div class="button">
                            <button type='submit' class="black-button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{{!-- Error message display --}}
{{#if errorMessage}}
<div class="error-message"> {{errorMessage}} </div>
{{/if}}